<%- include("partials/header"); -%>

<!--Sample books in home page-->

<div class="New_Books">
  <h3 style="padding-left:8%; font-size:1.5rem;">Famous Authors</h3>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
      <a href="https://rickriordan.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ4u061KrXPDZjKtriR3y3EnDmvkBT_SVtbA&usqp=CAU"></a>
      <p>Rick Riordan</p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
      <a href="https://en.wikipedia.org/wiki/Agatha_Christie"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfSVZ0p818iLAoYrOjFcocuE3DYaHalORDuw&usqp=CAU"></a>
      <p>Agatha Christie</p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
      <a href="https://www.jkrowling.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTl4a6IXO7IfwgoMjt1_P9a5XDKOR4SZFD6Aw&usqp=CAU"></a>
      <p>J.K.Rowling </p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
      <a href="https://stephenking.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrO2rwBRK-i_QDypIi1k8bvgrLyBfhSGeh9A&usqp=CAU"></a>
      <p>Stephen King</p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
      <a href="https://en.wikipedia.org/wiki/The_Immortals_of_Meluha"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuHgOisqJt1JS_3ougFgmncLgVxp-TwG1y0A&usqp=CAU"></a>
      <p>Amish Tripathi</p>
    </div>
  </div>


  <div class="books2">
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-2">
        <a href="http://www.matthaig.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRqTUw6Z5sBl21wlmCYD2ePfu-84n3SjOF7g&usqp=CAU"></a>
        <p>Matt Haig</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-2">
        <a href="https://danbrown.com/"><img src="https://cdn.giftstoindia24x7.com/ASP_Img/IMG2000/GTI423844.jpg"></a>
        <p>Dan Brown</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-2">
        <a href="https://khaledhosseini.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHjiB01Y-S5clwHN_tB8JREvlvxsyybSbRWg&usqp=CAU"></a>
        <p>Khaled Hosseini</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-2">
        <a href="https://ryanholiday.net/"><img src="https://miro.medium.com/max/580/0*LGnW_SPjv-s0o1G6"></a>
        <p>Ryan Holiday</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-2">
        <a href="https://en.wikipedia.org/wiki/Sudha_Murty"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_gQYoj9JQBfcTAwnYA9r7ajEioOYtZkasfg&usqp=CAU"></a>
        <p>Sudha Murty</p>
      </div>
    </div>


    <%- include("partials/footer"); -%>
